/* Coolors Exported Palette - coolors.co/ff6666-ccff66-16db93-eefcce-a7c6da */

/* HSL */
$color1: hsla(0%, 100%, 70%, 1);
$color2: hsla(80%, 100%, 70%, 1);
$color3: hsla(158%, 82%, 47%, 1);
$color4: hsla(78%, 88%, 90%, 1);
$color5: hsla(204%, 41%, 75%, 1);

/* RGB */
$color1: rgba(255, 102, 102, 1);
$color2: rgba(204, 255, 102, 1);
$color3: rgba(22, 219, 147, 1);
$color4: rgba(238, 252, 206, 1);
$color5: rgba(167, 198, 218, 1);